<ngb-carousel [showNavigationIndicators]="true" [showNavigationArrows]="false" [interval]="1000000000" [pauseOnFocus]="false" [pauseOnHover]="false">
        <!--<ng-template ngbSlide>
                <app-html-viewer [url]="'https://iktdev.no'"></app-html-viewer>
        </ng-template>-->
        <ng-container *ngFor="let observableView of appService.views | async">
                <ng-template #parent ngbSlide [ngSwitch]="observableView.type"  data-id="{{observableView.viewId}}">
                        <app-electricity *ngSwitchCase="ViewType.ELECTRICITY" data-id="{{observableView.viewId}}"
                                [slid]="this.slid"
                                [viewId]="observableView.viewId"
                                [view]="observableView.viewWrapper"
                                ></app-electricity>
                        <app-live-counter-view *ngSwitchCase="ViewType.ELECTRICITY_METER" 
                                data-id="{{observableView.viewId}}"
                        
                        >

                        </app-live-counter-view>
                        <!--<app-html-viewer [url]="viewWrapper.view"></app-html-viewer>-->
                </ng-template>
        </ng-container>
</ngb-carousel>

<!--
https://ng-bootstrap.github.io/#/components/carousel/examples
https://ng-bootstrap.github.io/#/components/carousel/examples
-->