<ngb-carousel [showNavigationIndicators]="true" [showNavigationArrows]="false" [interval]="5000" [pauseOnFocus]="false" [pauseOnHover]="false" [interval]="10000">
        <ng-container *ngFor="let view of appService.urlRef | async">
                <ng-template ngbSlide>
                        <app-html-viewer [url]="view.url"></app-html-viewer>
                </ng-template>
        </ng-container>
        
</ngb-carousel>

<!--
https://ng-bootstrap.github.io/#/components/carousel/examples
https://ng-bootstrap.github.io/#/components/carousel/examples
-->