# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/Web/dist
/Web/tmp
/Web/out-tsc
/Web/bazel-out

# Node
/Web/node_modules
/Web/npm-debug.log
/Web/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
 .vscode/*
 !.vscode/settings.json
 !.vscode/tasks.json
 !.vscode/launch.json
 !.vscode/extensions.json
 .history/*


# Python
/Gateway/__pycache__

# Miscellaneous
/Web/.angular/cache
/Web/.sass-cache/
/Web/connect.lock
/Web/coverage
/Web/libpeerconnection.log
/Webtestem.log
/Web/typings

# System files
.DS_Store
Thumbs.db
