<div class="container">
    <div class="row">
        <div class="col">
            <img class="info-image" src="assets/logo.svg" />
        </div>
        <div class="col">
            <div class="info">
                <h1 style="font-size: 3.5rem;">Checking Your Network</h1>
                <h4 style="margin-top: 25px; color: rgb(190, 190, 190);">The device is currently attempting to verify the connection to your network.<br/><br/>Please wait.</h4>
            </div>
        </div>
    </div>
    
</div>