<div class="overlay" [ngClass]="{'show': visibility, 'hide': hasAppeard && !visibility}">
    <div class="drawable-area" *ngIf="visibility">
        <div class="icon">
        
        </div>
    
        <div *ngIf="(weather | async)" class="weather-forecast">
            <h1>{{ (weather | async)?.current }}</h1>
    
            <div class="temperature" *ngIf="(weather | async)?.temperature">
                <mat-icon>thermostat</mat-icon>
                <h2>{{ (weather | async)?.temperature?.value }}</h2>
                <h2>{{ (weather | async)?.temperature?.unit }}</h2>
            </div>
    
            <div class="rain" *ngIf="(weather | async)?.precipitation">
                <mat-icon>water_drop</mat-icon>
                <h2>{{ (weather | async)?.precipitation?.value }}</h2>
                <h2>{{ (weather | async)?.precipitation?.unit }}</h2>
            </div>
    
            <div class="wind" *ngIf="(weather | async)?.wind">
                <mat-icon>air</mat-icon>
                <h2>{{ (weather | async)?.wind?.value }}</h2>
                <h2>{{ (weather | async)?.wind?.unit }}</h2>
            </div>
    
        </div>
        
        <div *ngIf="(climate | async)" class="climate">
            <div class="value">
                <h1> {{ (climate | async)?.value }}</h1>
                <h1> {{ (climate | async)?.unit }}</h1>
            </div>
            <h2>{{ (climate | async)?.where }}</h2>
        </div>
    </div>
</div>