c-carousel, carousel {
    height: 100vh!important;
    width: 100vw;

    c-carousel-inner {
        height: 100vh;
        c-carousel-item {
            
        }

    }
}

.carousel-cell {
    height: 100%;
    width: 100%;
    app-html-viewer {
        height: 100%;
        width: 100%;
    }
}
