:host {
    width: 100%;
    height: 100vh;
}

$very_expensive:  rgb(255, 0, 0);
$expensive: rgb(150, 0, 0);
$average: rgb(255, 166, 0);
$cheap: rgb(0, 180, 0);
$very_cheap: green;

.header {

    .content {
        display: flex;  flex-direction: row;

        mat-icon {
            &.very_expensive  { 
                color: $very_expensive;
                -webkit-text-fill-color: $very_expensive;
            }
            &.expensive { 
                color: $expensive;
                -webkit-text-fill-color: $expensive
             }
            &.average { 
                color: $average; 
                -webkit-text-fill-color: $average;
            }
            &.cheap { 
                color: $cheap; 
                -webkit-text-fill-color: $cheap;
            }
            &.very_cheap { 
                color: $very_cheap; 
                -webkit-text-fill-color: $very_cheap;
            }
        }

    }

    .name {
        font-size: 1.75em;
        line-height: normal;
        margin: 0px;
        padding: 0.5rem;
    }

    h1 {
        font-size: 7rem;
        line-height: normal;
        margin: 0px;
        padding: 0.5rem;
    }
    mat-icon {
        font-size: 7rem;
        line-height: normal;
        margin: 0px;
        width: 7rem;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .unit_formatting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 10px;
        h2 {
            line-height: normal;
            margin: 0px;
            font-weight: 100;
            font-size: 4rem;
        }
        :first-child {
            border-bottom: 0.5px solid gray;
        }
        :last-child {
            border-top: 0.5px solid gray;
        }
    }
}

.wrapper {
    height: 100vh;
    display: flex;
    .main {
        width: 70vw;
        height: 100%;
    }
    
    .side {
        width: 30vw;
        height: 100%;
       //background-color: maroon;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.price_row {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;


    .slot {
        display: flex;
        align-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0px;
        h2 {
            font-size: 3rem;
            line-height: normal;
            margin: 0px;
            padding: 0.5rem;
            display: flex;
            width: 100%;
            text-align: left;

            mat-icon {
                font-size: inherit;
                line-height: normal;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 5px;
                margin-right: 5px;

                width: 1.3em;
                height: auto;
            }
    
            &.red {
                background-color: rgb(163, 0, 0);
            }

            &.yellow {
                background-color: rgb(255, 166, 0);
            }

            &.green {
                background-color: green;
            }
        }
    
    
        .unit_formatting {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin-left: 10px;
            h3 {
                line-height: normal;
                margin: 0px;
                font-weight: 100;
                font-size: 2em;
            }
            :first-child {
                border-bottom: 0.5px solid gray;
            }
            :last-child {
                border-top: 0.5px solid gray;
            }
        }
    }
}



h1.very_expensive  { background-color: $very_expensive }

h1.expensive { background-color: $expensive; }

h1.average { background-color: $average; }

h1.cheap { background-color: $cheap; }

h1.very_cheap { background-color: $very_cheap; }


