:host {
    width: 100%;
    height: 100vh;
}


.header {

    .name {
        font-size: 1.75em;
        line-height: normal;
        margin: 0px;
        padding: 0.5rem;
    }

    h1 {
        font-size: 5em;
        line-height: normal;
        margin: 0px;
        padding: 0.5rem;
    }

    .unit_formatting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 10px;
        h2 {
            line-height: normal;
            margin: 0px;
            font-weight: 100;
            font-size: 2em;
        }
        :first-child {
            border-bottom: 0.5px solid gray;
        }
        :last-child {
            border-top: 0.5px solid gray;
        }
    }
}

.wrapper {
    height: 100vh;
    display: flex;
    .main {
        width: 70vw;
        height: 100%;
    }
    
    .side {
        width: 30vw;
        height: 100%;
       //background-color: maroon;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.price_row {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;


    .slot {
        display: flex;
        align-content: center;
        align-items: center;
        width: 100%;
        h2 {
            font-size: 3em;
            line-height: normal;
            margin: 0px;
            padding: 0.5rem;
            display: flex;
            width: 100%;
            text-align: left;

            mat-icon {
                font-size: inherit;
                line-height: normal;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 5px;
                margin-right: 5px;

                width: 1.3em;
                height: auto;
            }
    
            &.red {
                background-color: red;
            }

            &.yellow {
                background-color: rgb(255, 166, 0);
            }

            &.green {
                background-color: green;
            }
        }
    
    
        .unit_formatting {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin-left: 10px;
            h3 {
                line-height: normal;
                margin: 0px;
                font-weight: 100;
                font-size: 2em;
            }
            :first-child {
                border-bottom: 0.5px solid gray;
            }
            :last-child {
                border-top: 0.5px solid gray;
            }
        }
    }
}



.very_expensive {
    background-color: rgb(255, 0, 0);
}

.expensive {
    background-color: rgb(150, 0, 0);
}

.average {
    background-color: rgb(255, 166, 0);
}

.cheap {
    background-color: rgb(0, 180, 0);
}

.very_cheap {
    background-color: green;
}
