<div class="wrapper" (resized)="onResized($event)">
    <div #main class="main">
        <div class="header">
            <p class="name">Strømpris nå</p>
            <div style="display: flex;  flex-direction: row;">
                <h1 
                    [ngClass]="{
                        'very_expensive': (price_level | async) === 'VERY_EXPENSIVE',
                        'expensive': (price_level | async) === 'EXPENSIVE',
                        'average': (price_level | async) === 'AVERAGE',
                        'cheap': (price_level | async) === 'CHEAP',
                        'very_cheap': (price_level | async) === 'VERY_CHEAP'
                    }"
                ><b>{{ price_now | async }}</b></h1>
                <div class="unit_formatting">
                    <ng-container *ngFor="let unitValue  of price_now_unit | async">
                        <h2>{{ unitValue }}</h2>
                    </ng-container>
                </div>
                
            </div>
        </div>
        <apx-chart #chart [series]="chartSeries" [chart]="chartConfig" [fill]="fill" [stroke]="chartStroke" [xaxis]="chartXAxis" [yaxis]="chartYAxis" [theme]="theme" [colors]="colors" [annotations]="chartAnnotations"></apx-chart>
    </div>
    <div class="side">
        <div class="price_row" *ngIf="price_min && price_avg && price_max">
            <div class="slot">
                <h2 class="red">
                    <mat-icon>vertical_align_top</mat-icon>

                    <b>{{ price_max | async }}</b>
                </h2>
                <div class="unit_formatting">
                    <ng-container *ngFor="let unitValue  of price_now_unit | async">
                        <h3>{{ unitValue }}</h3>
                    </ng-container>
                </div>
            </div>

            <div class="slot">
                <h2 class="yellow">
                    <mat-icon>vertical_align_center</mat-icon>
                    <b>{{ price_avg | async }}</b>
                </h2>
                <div class="unit_formatting">
                    <ng-container *ngFor="let unitValue  of price_now_unit | async">
                        <h3>{{ unitValue }}</h3>
                    </ng-container>
                </div>
            </div>

            <div class="slot">
                <h2 class="green">
                    <mat-icon>vertical_align_bottom</mat-icon>
                    <b>{{ price_min | async }}</b>
                </h2>
                <div class="unit_formatting">
                    <ng-container *ngFor="let unitValue  of price_now_unit | async">
                        <h3>{{ unitValue }}</h3>
                    </ng-container>
                </div>
            </div>
        </div>
        <!--<mat-icon>trending_up</mat-icon>
        <mat-icon>trending_flat</mat-icon>
        <mat-icon>trending_down</mat-icon>-->
    </div>
</div>