body, iframe, embed {
    overflow: hidden!important;
}

iframe, embed {
    margin: 0px;
    border: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;

    .contentArea::-webkit-scrollbar {
        display: none;
      }
    .contentArea {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    }
}