
$slot_height: 10rem;

.horizon {
    display: block;
    height: $slot_height;
    background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(102, 25, 102, 0) 12% 88%, rgb(0, 0, 0) 100%);;

    position: absolute;
    top: 0px;
    width: 100%;
}

.numbers {
    display: flex;
    height: $slot_height;
    font-size: $slot_height;
    overflow: hidden;

    .number-slot {
    
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: all 2s ease;
        line-height: 1;
    
    }
}

::ng-deep .number-slot-item {
    height: $slot_height;
    font-size: $slot_height;
}


