$slot_height: 15rem;

:host {

    .live-panel {
        h1 {
            color: #00a8e6; 
            font-size: 15rem; 
            height: 15rem; 
            line-height: 1;
            margin: 0px;
            margin-right: 2rem;
        }
    }

}

::ng-deep app-counter {
    

    .horizon {
        height: $slot_height!important;
        // background-image: linear-gradient(rgb(119, 0, 255) 0%, rgba(102, 25, 102, 0) 12% 88%, rgb(119, 0, 255) 100%)!important;
    }

    .numbers {
        height: $slot_height!important;
        font-size: $slot_height!important;
    }

    .number-slot-item {
        height: $slot_height!important;
        font-size: $slot_height!important;
    }
}